body {
	text-align: center;
	background: #43c6db url("tree.jpeg") no-repeat center;
	color:yellow;
}
h5 {
	font-size: 20px;
}
h4 {
	font-size: 30px;
}
h1 {
	font-size: 45px;
}
.item {
    float:left;
    padding:20px;
    margin:10px;
    position: relative;
	top: 50%;
}

.item p{
  color:teal;
  left:200;
	
}

ol{
	margin-left:300px;
	margin-right:300px;
}
