body {
	text-align: center;
	background: #43c6db url("tree.jpeg") repeat top;
	color: #ffd700;
}

h5 {
	font-size: 20px;
}
h4 {
	font-size: 30px;
}
h1 {
	font-size: 45px;
}
.item {
    padding:0px;
    margin-left:50px;
    margin-right:"10%";
    margin-top:20px;
    position: relative;
    border: dashed;
    border-radius: 20px;
    color:"orange";
}

.item p{
  color:teal;
  left:200;
}

.holder {
	color:"orange";
	display:flex;
	flex-wrap:wrap;
}

.holder:hover {
	position: static;
}

ol{
	margin-left:300px;
	margin-right:300px;
}

a:link{
	color:#fe0000;
}

a:visited{
	color:#960000;
}

a:hover{
	font-size:25px;
	transition: font-size 0.75s;
}

.item:hover{
	font-size:25px;
	color:"red";
	position: static;
	transition: font-size 0.75s;
}

.item:hover img{
	opacity:0.5;
	transition: opacity 1.25s;
}
